{{!-- style page --}}


{{!-- team info card --}}
<h2>{{team_name}}</h2>

<div class="row row-cols-1 row-cols-md-2 g-4">
  {{#each users as |user|}}
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{user.name}}</h5>
        <p class="card-text">{{user.email}}</p>
      </div>
    </div>
  </div>
  {{/each}}
</div>


  {{!-- Win/Loss Record Box --}}
  <div class="info-box">
    <h3>Win/Loss Record</h3>
    <p>Wins: {{wins}}</p>
    <p>Losses: {{losses}}</p>
  </div>

